<!DOCTYPE html>
<html lang="en">
  <head>
    <!----- Required meta tags ----->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!----- Bootstrap CSS ----->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!----- CSS ----->
    <link rel="stylesheet" href="styles.css">
    
    <title>Registration for Instructors</title>
  </head>
    <body>
      <div class="form-container" id="form-container">
      <!----------------- Sign up form -------------------->
      <h1>Registration for Instructors</h1>
      <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
          <label for="validationFName" class="form-label">First name</label>
          <input type="text" class="form-control" id="validationFName" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationLName" class="form-label">Last name</label>
          <input type="text" class="form-control" id="validationLName" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationEmail" class="form-label">Email</label>
          <input type="text" class="form-control" id="validationEmail" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        
        <div class="col-md-4">
          <label for="validationPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="validationPassword" required>
          <div class="invalid-feedback">
            Please provide a password.
          </div>
        </div>
          <div class="col-md-4">
          <label for="validationMobile" class="form-label">Mobile</label>
          <input type="number" class="form-control" id="validationMobile" required>
          <div class="invalid-feedback">
            Please provide a mobile number.
          </div>
        </div>
        <!------------------- Button ------------------->
        <div class="col-12">
          <!-- <button class="btn btn-primary" type="submit" id="register-btn">Register</button> -->
          <a class="btn btn-dark" window.location.href="/home" type="submit" id="register-btn">Register</a>
        </div>
      </form>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/instructor.js"></script>
  </body>
</html>
